# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/compile
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/replicant
/replicant-backup-object
/replicant-benchmark
/replicant-block
/replicant-cli
/replicant-conn-str
/replicant-daemon
/replicant-debug
/replicant-debug-call
/replicant-debug-condition
/replicant-debug-dump
/replicant-del-object
/replicant-generate-unique-number
/replicant-integrity-check
/replicant-kill-object
/replicant-kill-server
/replicant-list-objects
/replicant-list-servers
/replicant-new_object
/replicant-new-object
/replicant.pc
/replicant-poke
/replicant-restore-object
/replicant-rsm-dlopen
/replicant.upack
/stamp-h1
/test-driver
