/replicant.aux
/replicant.bbl
/replicant.dvi
/replicant.idx
/replicant.ilg
/replicant.ind
/replicant.log
/replicant.out
/replicant.P
/replicant.pdf
/replicant.ps
/replicant.stdout.log
/replicant.toc
/.replicant.xtx.cache
/_minted-replicant/
